.order-wrap {
  display: flex;
}

.order_title {
  text-align: center;

  h3 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
  }
  p {
    width: 52%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.bar {
  height: 2px;
  width: 165px;
  background: #c4c4c4;
  margin: 20px auto 30px;
  position: relative;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-name: slide;
  }
}

.order {
  padding-top: 120px;
  padding-bottom: 120px;
}

.order-img {
  margin-right: 50px;
}

.order-content {
  width: 38%;

  h3 {
    font-weight: 700;
  }
}

.order_btn {
  padding-bottom: 40px;
  margin-bottom: 35px;
  border-bottom: 1px dashed #d7d7d7;

  a {
    color: white;
  }
}

.product__info {
  font-size: 20px;
}

.price {
  i {
    margin-right: 10px;
  }
  color: #2acb35;
}

.product__category {
  font-size: 20px;
  i {
    margin-right: 10px;
    color: #2acb35;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.nav_rev {
  display: none;
}

.nav_rev:target {
  display: block;
}

.DESCRIPTION {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.required {
  color: red;
}

.reviews_tabs {
  margin-top: 15px;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #545353;
    font-weight: 700;
  }
}

.tab-link:nth-child(2) {
  margin-left: 10px;
}
.reviews__commet {
  img {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
  }
}

.reviews__content {
  span {
    color: #2acb35;
  }
  p {
    strong {
      color: #3c3444;
    }
    span {
      color: black;
    }
  }
}

#rating {
  background: #f1f1f1;
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
}

.review_form {
  textarea {
    width: 100%;
    padding: 20px 20px;
    border: none;
    background: #f1f1f1;
    font-size: 14px;
    font-weight: 500;
    color: #6c6c6c;
  }
}
.input_100 {
  width: 100%;
  padding: 19px 20px;
  border: none;
  background: #f1f1f1;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 500;
}

.comment-form-cookie {
  display: flex;
  padding: 0 0;
}

.form-submit {
  input {
    background: #2acb35;
    color: #fff;
    cursor: pointer;
  }
}

.comment-form-cookie {
  label {
    font-size: 16px;
  }
}

.ingredients__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 36px;
  }
  p {
    line-height: 28px;
  }
}
