.suppke_video {
  background: url("../img/bg_video.jpg") center no-repeat;
  position: relative;
  padding-top: 120px;
  padding-bottom: 90px;
  -webkit-background-size: cover;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(29, 20, 44, 0.9);
    z-index: 2;
  }
}

.video__play {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  color: #fff;
  position: relative;
  font-size: 18px;
  background: #2acb35;
  border: none;
  outline: none;
  margin-bottom: 45px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .video__play {
    margin-bottom: 50px;
  }
}

.video__play::before,
.video__play::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  background-color: #fff;
  -webkit-animation: pulsation 2s 0.8s ease-out infinite;
  animation: pulsation 2s 0.8s ease-out infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  z-index: -1;
}

.video__play::before {
  -webkit-animation: pulsation 2s 0.1s both ease-out infinite;
  animation: pulsation 2s 0.1s both ease-out infinite;
}

.suppke-wrap {
  position: relative;
  z-index: 3;
  max-width: 680px;
  margin: 0 auto;
}

.suppke_bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.vide__info {
  a {
    color: white;
    &:hover {
      background: padding-box;
    }
  }
  p {
    font-size: 14px;
    margin-bottom: 35px;
  }
  h3 {
    font-weight: 800;
  }
}
