@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: normal;
  src: local("Baloo 2 Regular"), local("Baloo-2-Regular"),
    url("../fonts/baloo-2-v1-latin-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  src: local("Baloo 2 Medium"), local("Baloo-2-Medium"),
    url("../fonts/baloo-2-v1-latin-500.woff2") format("woff2");
  font-display: swap;
}

@import "theme";
@import "reset";
@import "layout";
@import "sitenav";
@import "typography";
@import "buttons";
@import "card";
@import "prism";
@import "utilities";
@import "header";
@import "home";
@import "advantages";
@import "supplement";
@import "video";
@import "order";
@import "ingredients";
@import "area";
@import "packages";
@import "doctors";
@import "blogs";
@import "brend";
@import "news";
@import "links";
@import "animation";
li {
  list-style-type: none;
}

body {
  font-family: Poppins;
  background-color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a:hover {
  color: #2acb35;
  background: white;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

.arrowUp {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  z-index: 30;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.arrowUp.active {
  opacity: 1;
  visibility: visible;
}

.arrowUp:hover {
  background-position: 100% 0;
}
