@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: normal;
  src: local("Baloo 2 Regular"), local("Baloo-2-Regular"),
    url("../fonts/baloo-2-v1-latin-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  src: local("Baloo 2 Medium"), local("Baloo-2-Medium"),
    url("../fonts/baloo-2-v1-latin-500.woff2") format("woff2");
  font-display: swap;
}

@import "theme";
@import "reset";
@import "layout";
@import "sitenav";
@import "typography";
@import "buttons";
@import "card";
@import "prism";
@import "utilities";
@import "header";
@import "home";
@import "advantages";
@import "supplement";
@import "video";
@import "order";
@import "ingredients";
@import "area";
@import "packages";
@import "doctors";
@import "blogs";
@import "brend";
@import "news";
@import "footer";
li {
  list-style-type: none;
}

body {
  font-family: Poppins;
  background-color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a:hover {
  color: #2acb35;
  background: white;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.up_down_btn {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.up_down_btn:hover {
  text-decoration: none;
  background: #e9ebec;
}

.up_down_btn-show {
  display: block;
}

.up_down_btn-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.btn-up {
  position: fixed;
  z-index: 20;
  background: #2acb35;
  height: 50px;
  width: 50px;
  right: 30px;
  bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btn-up_visible {
  opacity: 1;
}
