---
layout: base.njk
pageTitle: Supky
---

<body>
  <header>
    <div class="header__padding">
      <div class="container">
        <div class="main_menu">
          <nav class="navbar_header">
            <!-- logo -->
            <a href="#">
              <img src="img/Logo_1.png" alt="" />
            </a>
            <!-- end logo -->
            <div class="nav_links">
              <ul class="nav__navigatione">
                <a href="#"> <li>Home</li> </a
                ><a href="#"> <li>Supplement</li> </a
                ><a href="#"> <li>Order</li> </a
                ><a href="#"> <li>Price</li> </a
                ><a href="#"> <li>Ingredient</li> </a
                ><a href="#"> <li>Blog</li> </a
                ><a href="#"> <li>Contact</li> </a>
              </ul>
            </div>
            <!-- Header action -->
            <div class="header_action">
              <ul>
                <a href="#">
                  <li class="search-icon">
                    <a href="#"><i class="fas fa-search"></i></a>
                  </li>
                </a>
                <a href="#">
                  <li>
                    <a href="#"><i class="fas fa-shopping-basket"></i></a>
                  </li>
                </a>
              </ul>
            </div>
            <!-- end header action -->
            <div class="header__btn">
              <a href="#" class="btn"> ORDER NOW</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <section class="home">
    <div class="container">
      <div class="home__content">
        <div class="home__text">
          <h1>Super <span>Convenient</span> Quality Protein</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur seddo eiumod tempor incididunt labore adipiscing
            seddo eiumod
          </p>
          <div class="home__btns">
            <a href="#" class="btn"> PURCHASE</a>
            <a href="#" class="btn"> CONTACT</a>
          </div>
        </div>
        <img src="img/slider_img.png" alt="" class="slider" />
      </div>
    </div>
  </section>
</body>
