---
layout: base.njk
pageTitle: Supky
---

<header>
  <div class="header__padding">
    <div class="container">
      <div class="main_menu">
        <nav class="navbar_header">
          <!-- logo -->
          <a href="#">
            <img src="img/Logo_1.png" alt="" />
          </a>
          <!-- end logo -->
          <div class="nav_links">
            <ul class="nav__navigatione">
              <a href="#"> <li>Home</li> </a
              ><a href="#"> <li>Supplement</li> </a
              ><a href="#"> <li>Order</li> </a
              ><a href="#"> <li>Price</li> </a
              ><a href="#"> <li>Ingredient</li> </a
              ><a href="#"> <li>Blog</li> </a
              ><a href="#"> <li>Contact</li> </a>
            </ul>
          </div>
          <!-- Header action -->
          <div class="header_action">
            <ul>
              <a href="#">
                <li class="search-icon">
                  <a href="#"><i class="fas fa-search"></i></a>
                </li>
              </a>
              <span class="beforee"></span>
              <a href="#">
                <li>
                  <a href="#"><i class="fas fa-shopping-basket"></i></a>
                </li>
              </a>
            </ul>
          </div>
          <!-- end header action -->
          <div class="header__btn">
            <a href="#" class="btn"> ORDER NOW</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="home">
  <div class="container">
    <div class="home__content">
      <div class="home__text">
        <h1>Super <span>Convenient</span> Quality Protein</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur seddo eiumod tempor incididunt labore adipiscing
          seddo eiumod
        </p>
        <div class="home__btns">
          <div class="home_right__btn">
            <a href="#" class="btn"> PURCHASE</a>
          </div>
          <div class="home_left__btn">
            <a href="#" class="btn" class="btn_contact"> CONTACT</a>
          </div>
        </div>
      </div>
      <img src="img/slider_img.png" alt="" class="slider" />
    </div>
  </div>
</section>
<section class="advantages">
  <div class="container">

    <div class="advantages-wrap">
      <div class="widget-container">
        <div class="advantages__item">
          <div class="adv__icon">
            <img src="img/advantages/adv_item1.png" alt="">
          </img>
          </div>
          <h5>
            Increased Energy
            </h5>
            <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>
        </div>
      </div>

      <div class="widget-container">
        <div class="advantages__item">
          <div class="adv__icon">
            <img src="img/advantages/adv_item2.png" alt="">
          </img>
          </div>
          <div class="advantages_content">
            <h5>
              Calorie Build Up
            </h5>
            <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>
          </div>
        </div>
      </div>
    

    <div class="widget-container">
      <div class="advantages__item">
        <div class="adv__icon">
          <img src="img/advantages/adv_item3.png" alt="">
        </img>
        </div>   
        <div class="advantages_content">
          <h5>
            Energy Grow Up
          </h5>
          <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>  
        </div>     
      </div>  
    </div>


    <div class="widget-container">
      <div class="advantages__item">
        <div class="adv__icon">
          <img src="img/advantages/adv_item4.png" alt="">
        </img>
        </div>
        <div class="advantages_content">
          <h5>
            Regular Routine
        </h5>
        <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>
        </div>      
      </div>  
    </div>


  </div>
  </div>
</section>

<section class="supplement">
  <div class="container">
    <div class="supplement-container">
      <div class="supple_img">
        <img src="img/supplement.png" alt="" class="suppl__img">
      </div>
      <div class="suppl__content">
        <h5>About Supplement</h5>
        <h3>Dietary Supplement Pill Product Intended</h3>
        <p>Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown.</p>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Sometimes known dummy</div>
        </div>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Best solution for developing your business</div>
        </div>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Deserunt ad ipsum sint excepteur</div>
        </div>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Lorem sit occaecat ea proident excepteur</div>
        </div>
        <div class="suppl_btn">
          <a href="#" class="btn">BUY NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
